@{
    ViewData["Title"] = "Adorama";
}

<div class="text-center">
    <h1 class="display-4">Adorama Listing Manager</h1>
</div>

<div>
    <table class="table table-bordered table-responsive table-striped text-center">
        <thead>
            <tr>
                <th scopee="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Url</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text"></td>
                <td><input type="number" /></td>
                <td><input type="url" /></td>
            </tr>
        </tbody>
    </table>
    <div class="text-right">
    <button type="button" class="btn btn-success">Add</button>
    </div>
</div>