@{
    ViewData["Title"] = "Inventory";
}

<div class="text-center">
    <h1 class="display-4">Inventory Manager</h1>
</div>
<div class="container-fluid" style="margin-top:20px;">
    <h2>Current Inventory</h2>
    <div>
        <table id="currentinvTable" class="table table-responsive table-bordered text-center">
            <thread>
                <tr>
                    <th hidden class="text-center">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Price/piece</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Discount Type</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Discount Status</th>
                    <th scope="col">Vendor</th>
                    <th scope="col">Date Purchased</th>
                    <th scope="col">Payment Method</th>
                    <th scope="col">Return by</th>
                    <th scope="col">Warranty</th>
                    <th scope="col">Classification</th>
                    <th class="text-center">Edit</th>
                </tr>
            </thread>
        </table>
    </div>
    <div class="text-right">
        <button type="button" id="deletecurrentinv" class="btn btn-danger">Delete</button>
        <button  type="button" id="updatecurrinv" class="btn btn-info">Update</button>
    </div>
        <h2>Incoming Inventory</h2>
        <div class="table-editable">
            <table id="incominginvTable" class="table table-bordered table-responsive table-striped text-center">
                <thread>
                    <tr>
                        <th hidden class="text-center">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Price/piece</th>
                        <th scope="col">Total Price</th>
                        <th scope="col">Discount Type</th>
                        <th scope="col">Discount</th>
                        <th scope="col">Discount Status</th>
                        <th scope="col">Vendor</th>
                        <th scope="col">Date Purchased</th>
                        <th scope="col">Payment Method</th>
                        <th scope="col">Warranty</th>
                        <th scope="col">Classification</th>
                        <th scope="col">Estimated Delivery Date</th>
                        <th class="text-center">Tracking #</th>
                        <th class="text-center">Edit</th>
                    </tr>
                </thread>
                <tbody>
                    <tr>
                        <td hidden><input type="text" name="idincominginventory" id="idincominginventory" hidden /></td>
                        <td><input type="text" name="name" id="name" /></td>
                        <td><input type="number" name="qty" id="qty" /></td>
                        <td><input type="number" name="pricePerPiece" id="pricePerPiece" /></td>
                        <td><input type="number" name="totalPrice" id="totalPrice" /></td>
                        <td>
                            <select name="discountType" id="discountType">
                                <option>Rakuten</option>
                                <option>Amazon</option>
                                <option>Retail me not</option>
                            </select>
                        </td>
                        <td><input type="number" name="discount" id="discount" /></td>
                        <td>
                            <select name="discountStatus" id="discountStatus">
                                <option>Pending</option>
                                <option>Approved</option>
                                <option>Email Appeal</option>
                            </select>
                        </td>
                        <td><input type="text" name="vendor" id="vendor" /></td>
                        <td><input type="date" name="datePurchased" id="datePurchased" /></td>
                        <td><select id="payment" name="payment">
                            <option>Wells Fargo</option>
                            <option>Chase</option>
                            <option>American Express</option>
                            <option>Paypal</option>
                            <option>Adorama Edge</option>
                        </select>
                        </td>
                        <td><input type="text" name="warranty" id="warranty" /></td>
                        <td>
                            <select id="classification" name="classification">
                                <option>Fast seller</option>
                                <option>Slow seller</option>
                                <option>Possible return</option>
                                <option>Bad seller</option>
                            </select>
                        </td>
                        <td><input type="date" name="estimatedDelivery" id="estimatedDelivery" /></td>
                        <td><input type="text" name="trackingNumber" id="trackingNumber" /></td>
                        <td><button type="button" id="addingincominginv" class="btn btn-success">Add Item</button></td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <button type="button" id="deleteincominginv" class="btn btn-danger">Delete</button>
                <button type="button" id="updateincominginv" class="btn btn-info">Update</button>
                <button type="button" id="movetocurrentinv" class="btn btn-secondary">Move to Current Inv</button>
            </div>
        </div>
    </div>
