@{
    ViewData["Title"] = "Profit";
}

<div class="text-center">
    <h1 class="display-4">Profit Dashboard</h1>
</div>

<div>
    <h1>Facebook Sales</h1>
    <div class="table-editable">
        <table id="facebookSales" class="table table-bordered table-responsive table-striped text-center">
            <thread>
                <tr>
                    <th>Name</th>
                    <th>Cost / Piece</th>
                    <th>Additional Costs</th>
                    <th>Qty Sold</th>
                    <th>Total Price Sold</th>
                </tr>
                </thread>
            </table>
    </div>
