@{
    ViewData["Title"] = "ResolutionCenter";
}
<div class="text-center">
    <h1 class="display-4">Resolution Center</h1>
</div>
<div class="container-fluid" style="margin-top:20px;">
    <h2>Open Returns</h2>
    <div>
        <table id="returnTable" class="table table-responsive table-bordered text-center">
            <thread>
                <tr>
                    <th hidden class="text-center">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Payment Method</th>
                    <th scope="col">Vendor</th>
                    <th scope="col">Date Sent Back</th>
                    <th scope="col">Delivery Date</th>
                    <th scope="col">Tracking #</th>
                    <th scope="col">Estimated Refund Time</th>
                    <th class="text-center">Edit</th>
                </tr>
            </thread>
            <tbody>
                <tr>
                    <td hidden><input type="text" name="idreturns" id="idreturns" hidden /></td>
                    <td><input type="text" name="returnName" id="returnName" /></td>
                    <td><input type="text" name="quantity" id="quantity" /></td>
                    <td><input type="text" name="totalPrice" id="totalPrice" /></td>
                    <td>
                        <select id="paymentMethod" name="paymentMethod">
                            <option>Wells Fargo</option>
                            <option>Chase</option>
                            <option>American Express</option>
                            <option>Paypal</option>
                            <option>Adorama Edge</option>
                        </select>
                    </td>
                    <td><input type="text" name="returnVendor" id="returnVendor" /></td>
                    <td><input type="date" name="returnDate" id="returnDate" /></td>
                    <td><input type="date" name="deliveryDate" id="deliveryDate" /></td>
                    <td><input type="text" name="trackingNum" id="trackingNum" /></td>
                    <td><input type="text" name="estimatedRefundTime" id="estimatedRefundTime" /></td>
                    <td> <button type="button" id="addReturn" class="btn btn-success">Add Return</button></td>
                </tr>
            </tbody>
        </table>
        <div class="text-right">
            <button type="button" id="deleteReturn" class="btn btn-danger">Delete Return/s</button>
            <button type="button" id="updateReturn" class="btn btn-info">Update Return/s</button>
        </div>
    </div>
    <h2>Open Insurance Claims</h2>
    <table id="insuranceClaims" class="table table-responsive table-bordered text-center">
        <thread>
            <tr>
                <th hidden class="text-center">Id</th>
                <th scope="col">Item Name</th>
                <th scope="col">Ebay Order #</th>
                <th scope="col">Sell Price</th>
                <th scope="col">Insured For</th>
                <th scope="col">Shipping Carrier</th>
                <th scope="col">Shipping Cost</th>
                <th scope="col">Tracking #</th>
                <th scope="col">Claim #</th>
                <th scope="col">Claim Status</th>
                <th scope="col">Claim File Date</th>
                <th scope="col">Customer Resolution Preference</th>
                <th scope="col">Customer Resolution Status</th>
                <th scope="col">Replacement Tracking Number</th>
                <th scope="col">Notes</th>
                <th class="text-center">Edit</th>
            </tr>
        </thread>
        <tbody>
            <tr>
                <td hidden><input type="text" name="idinsuranceclaims" id="idinsuranceclaims" hidden /></td>
                <td><input type="text" name="itemName" id="itemName" /></td>
                <td><input type="text" name="ebayOrderNumber" id="ebayOrderNumber" /></td>
                <td><input type="number" name="sellPrice" id="sellPrice" /></td>
                <td><input type="number" name="insuredFor" id="insuredFor" /></td>
                <td>
                    <select id="shippingCarrier" name="shippingCarrier">
                        <option>USPS</option>
                        <option>UPS</option>
                        <option>Fedex</option>
                    </select>
                </td>
                <td><input type="number" name="shippingCost" id="shippingCost" /></td>
                <td><input type="text" name="tracking" id="tracking" /></td>
                <td><input type="text" name="claimNumber" id="claimNumber" /></td>
                <td>
                    <select id="claimStatus" name="claimStatus">
                        <option>Filed awaiting decision</option>
                        <option>Need additional documents</option>
                        <option>Approved awaiting check</option>
                        <option>Check cashed</option>
                        <option>Denied</option>
                        <option>Appealed awaiting decision</option>
                    </select>
                </td>
                <td><input type="date" name="claimFileDate" id="claimFileDate" /></td>
                <td>
                    <select id="customerPreference" name="customerPreference">
                        <option>Replacement</option>
                        <option>Refund</option>
                        <option>Not Specified</option>
                    </select>
                </td>
                <td>
                    <select id="customerResolutionStatus" name="customerResolutionStatus">
                        <option>Awaiting Insurance Check</option>
                        <option>Refunded</option>
                        <option>Replacement Sent</option>
                    </select>
                </td>
                <td><input type="text" name="replacementTrackingNum" id="replacementTrackingNum" /></td>
                <td><input type="text" name="notes" id="notes" /></td>
                <td><button type="button" id="addInsuranceClaim" class="btn btn-success">Add Claim</button></td>
            </tr>
        </tbody>
    </table>
    <div class="text-right">
        <button type="button" id="deleteInsuranceClaim" class="btn btn-danger">Delete Claim/s</button>
        <button type="button" id="updateInsuranceClaim" class="btn btn-info">Update Claim/s</button>
    </div>
    <h2>Packages delayed in Transit </h2>
    <table id="delayedPackages" class="table table-responsive table-bordered text-center">
        <thread>
            <tr>
                <th hidden class="text-center">Id</th>
                <th scope="col">Item Name</th>
                <th scope="col">Ebay Order #</th>
                <th scope="col">Shipping Carrier</th>
                <th scope="col">Insured For</th>
                <th scope="col">Tracking #</th>
                <th scope="col">Last Scan Date</th>
                <th scope="col">Current Location</th>
                <th scope="col">Destination</th>
                <th scope="col">Service Request #</th>
                <th scope="col">Last Contact Date with Customer</th>
                <th scope="col">Notes</th>
                <th class="text-center">Edit</th>
            </tr>
        </thread>
        <tbody>
            <tr>
                <td hidden><input type="text" name="idshippingdelayedpackages" id="idshippingdelayedpackages" hidden /></td>
                <td><input type="text" name="packageName" id="packageName" /></td>
                <td><input type="text" name="ebayOrderNum" id="ebayOrderNum" /></td>
                <td><select id="carrier" name="carrier">
                    <option>USPS</option>
                    <option>UPS</option>
                    <option>Fedex</option>
                    </select>
                </td>
                <td><input type="number" name="insuranceVal" id="insuranceVal" /></td>
                <td><input type="text" name="trackingId" id="trackingId" /></td>
                <td><input type="date" name="lastScanDate" id="lastScanDate" /></td>
                <td><input type="text" name="currentLoc" id="currentLoc" /></td>
                <td><input type="text" name="destination" id="destination" /></td>
                <td><input type="text" name="serviceReqNum" id="serviceReqNum" /></td>
                <td><input type="date" name="lastCustomerContactDate" id="lastCustomerContactDate" /></td>
                <td><input type="text" name="note" id="note" /></td>
                <td> <button type="button" id="addDelayedPackage" class="btn btn-success">Add Package</button></td>
            </tr>
        </tbody>
    </table>
    <div class="text-right">
        <button type="button" id="deleteDelayedPackage" class="btn btn-danger">Delete Package/s</button>
        <button type="button" id="updateDelayedPackage" class="btn btn-info">Update Package/s</button>
    </div>
</div>
