@{
    ViewData["Title"] = "SellingStats";
}
<div class="text-center">
    <h1 class="display-4">Selling Statistics</h1>
</div>

<div>
    <h2>Stats</h2>
</div>

<div class="container-fluid" style="margin-top:20px;">
<h2>Top Sellers</h2>
<div>
    <table id="topSellerTable" class="table table-responsive table-bordered text-center">
        <thread>
            <tr>
                <th hidden class="text-center">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price Sold</th>
                <th scope="col">Purchase Price</th>
                <th scope="col">Vendors</th>
                <th class="text-center">Edit</th>
            </tr>
        </thread>
    </table>
</div>
    <!-- FIXME add in seasonal bad seller option to table-->
    <h2>Bad Sellers</h2>
    <div>
    <table id="badSellerTable" class="table table-responsive table-bordered text-center">
        <thread>
            <tr>
                <th hidden class="text-center">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Edit</th>
            </tr>
        </thread>
        <tbody>
            <tr>
                <td hidden><input type="text" name="idsolditems" id="idsolditems" hidden /></td>
                <td><input type="text" id="itemName" name="itemName" /></td>
                <td><button type="button" id="addBadSeller" name="addBadSeller" class="btn btn-success">Add Bad Seller</button></td>
            </tr>
        </tbody>
    </table>
        <button type="button" id="deleteBadSeller" name="deleteBadSeller" class="btn btn-danger">Delete Bad Seller</button>
        </div>
</div>
