@{
    ViewData["Title"] = "Warranty";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 

<div class="text-center">
    <h1 class="display-4">Warranty Manager</h1>
</div>

<div>
    <h2>Warranty Search</h2>
    <input type="search" placeholder="Serial Number" />
    <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-search"></span> Search </button>
</div>

<div style="margin-top: 30px">
    <table class="table table-responsive table-bordered text-center">
        <thread>
            <tr>
                <th scope="col">Name</th> 
                <th scope="col">Vendor</th>
                <th scope="col">Cost</th>
                <th scope="col">Purchase Date</th>
                <th scope="col">Warranty</th>
                <th scope="col">Serial Number</th>
                </tr>
        </thread>
    </table>
</div>