@{
    ViewData["Title"] = "TopSellers";
}
<div class="text-center">
    <h1 class="display-4">Top Selling Items</h1>
</div>

<div class="container-fluid" style="margin-top:20px;">
<h2>Top Sellers</h2>
<div>
    <table id="topSellerTable" class="table table-responsive table-bordered text-center">
        <thread>
            <tr>
                <th hidden class="text-center">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price Sold</th>
                <th scope="col">Purchase Price</th>
                <th scope="col">Vendors</th>
                <th class="text-center">Edit</th>
            </tr>
        </thread>
    </table>
</div>
</div>
